<p id='app_questions_{{ field }}'>{{ application[field] }}</p>
<form>
    <p ng-hide='clicked'>{{ comments[field] }}</p>
    <a class="link-btn" ng-hide='clicked' ng-click="(!commenting) ? (clicked = true) && (commenting = true) : null">Comment</a>
    <div class="form-group">
      <textarea class="form-control" ng-show='clicked' ng-model='comments[field]'></textarea>
      <a class="btn btn-success" ng-show='clicked' ng-click="save({field: field}); clicked = false; commenting = false;">Save
      </a>
    </div>
</form>
